In [ ]:
USE TREINO_ESTUDO
go

<span style="color: rgb(0, 128, 0);"><b>SQL&nbsp;Statements</b></span>

  

<span style="color: #008000;">List&nbsp;the&nbsp;order&nbsp;details&nbsp;where&nbsp;the&nbsp;quantity&nbsp;is&nbsp;between&nbsp;65&nbsp;and&nbsp;70.&nbsp;Display&nbsp;the&nbsp;order&nbsp;id&nbsp;and&nbsp;quantity&nbsp;from&nbsp;the&nbsp;OrderDetails&nbsp;table,&nbsp;</span> 

<span style="color: #008000;">the&nbsp;product&nbsp;id&nbsp;and&nbsp;reorder&nbsp;level&nbsp;from&nbsp;the&nbsp;Products&nbsp;table,</span>

<span style="color: #008000;">and&nbsp;the&nbsp;supplier&nbsp;id&nbsp;from&nbsp;the&nbsp;Suppliers&nbsp;table.&nbsp;Order&nbsp;the&nbsp;result&nbsp;set&nbsp;by&nbsp;the&nbsp;order&nbsp;id.</span>

In [ ]:
SELECT
OD.OrderID,
OD.Quantity,
P.ProductID,
P.ReorderLevel,
S.SupplierID
FROM OrderDetails AS OD
INNER JOIN Products as P
ON OD.ProductID = P.ProductID
INNER JOIN Suppliers as S
ON P.SupplierID = S.SupplierID
WHERE OD.Quantity BETWEEN 65 AND 70
ORDER BY OD.OrderID;

<span style="color: #008000;">List&nbsp;the&nbsp;product&nbsp;id,&nbsp;product&nbsp;name,&nbsp;English&nbsp;name,&nbsp;and&nbsp;unit&nbsp;price&nbsp;from&nbsp;the&nbsp;Products&nbsp;table&nbsp;where&nbsp;the&nbsp;unit&nbsp;price&nbsp;is&nbsp;less&nbsp;than&nbsp;$8.00.&nbsp;</span> 

<span style="color: #008000;">Order&nbsp;the&nbsp;result&nbsp;set&nbsp;by&nbsp;the&nbsp;product&nbsp;id.</span>

In [ ]:
SELECT 
ProductID,
ProductName,
EnglishName,
UnitPrice
FROM
Products
WHERE UnitPrice < 8
ORDER BY ProductID;

<span style="color: #008000;">List&nbsp;the&nbsp;customer&nbsp;id,&nbsp;company&nbsp;name,&nbsp;country,&nbsp;and&nbsp;phone&nbsp;from&nbsp;the&nbsp;Customers&nbsp;table&nbsp;where&nbsp;the&nbsp;country&nbsp;is&nbsp;equal&nbsp;to&nbsp;Canada&nbsp;or&nbsp;USA.</span>

<span style="color: #008000;">Order&nbsp;the&nbsp;result&nbsp;set&nbsp;by&nbsp;the&nbsp;customer&nbsp;id.</span>

In [ ]:
SELECT
CustomerID,
CompanyName,
Country,
Phone
FROM
Customers
WHERE Country = 'Canada' OR Country = 'USA'
ORDER BY CustomerID;

<span style="color: #008000;">List&nbsp;the&nbsp;products&nbsp;where&nbsp;the&nbsp;reorder&nbsp;level&nbsp;is&nbsp;equal&nbsp;to&nbsp;the&nbsp;units&nbsp;in&nbsp;stock.</span>

<span style="color: #008000;">Display&nbsp;the&nbsp;supplier&nbsp;id&nbsp;and&nbsp;supplier&nbsp;name&nbsp;from&nbsp;the&nbsp;Suppliers&nbsp;table,&nbsp;the&nbsp;product&nbsp;name,&nbsp;reorder&nbsp;level,&nbsp;and&nbsp;units&nbsp;in&nbsp;stock&nbsp;from&nbsp;the&nbsp;Products&nbsp;table.</span>

<span style="color: #008000;">Order&nbsp;the&nbsp;result&nbsp;set&nbsp;by&nbsp;the&nbsp;supplier&nbsp;id.</span>

In [ ]:
SELECT
S.SupplierID,
S.Name,
P.ProductName,
P.ReorderLevel,
P.UnitsInStock
FROM
Suppliers S
INNER JOIN
Products P
ON S.SupplierID = P.SupplierID
WHERE P.ReorderLevel = P.UnitsInStock
ORDER BY S.SupplierID;

<span style="color: #008000;">List&nbsp;the&nbsp;orders&nbsp;where&nbsp;the&nbsp;shipped&nbsp;date&nbsp;is&nbsp;greater&nbsp;than&nbsp;or&nbsp;equal&nbsp;to&nbsp;1st&nbsp;of&nbsp;Jan&nbsp;1994,&nbsp;</span> 

<span style="color: #008000;">and&nbsp;calculate&nbsp;the&nbsp;length&nbsp;in&nbsp;years&nbsp;from&nbsp;the&nbsp;shipped&nbsp;date&nbsp;to&nbsp;1st&nbsp;of&nbsp;Jan&nbsp;2009.</span>

<span style="color: #008000;">Display&nbsp;the&nbsp;order&nbsp;id,&nbsp;and&nbsp;the&nbsp;shipped&nbsp;date&nbsp;from&nbsp;the&nbsp;Orders&nbsp;table,&nbsp;</span> 

<span style="color: #008000;">the&nbsp;company&nbsp;name,&nbsp;and&nbsp;the&nbsp;contact&nbsp;name&nbsp;from&nbsp;the&nbsp;Customers&nbsp;table,&nbsp;and&nbsp;the&nbsp;calculated&nbsp;length&nbsp;in&nbsp;years&nbsp;for&nbsp;each&nbsp;order.&nbsp;</span> 

<span style="color: #008000;">Display&nbsp;the&nbsp;shipped&nbsp;date&nbsp;in&nbsp;the&nbsp;format&nbsp;MMM&nbsp;DD&nbsp;YYYY.&nbsp;Order&nbsp;the&nbsp;result&nbsp;set&nbsp;by&nbsp;order&nbsp;id&nbsp;and&nbsp;the&nbsp;calculated&nbsp;years.</span>

In [ ]:
SELECT
O.OrderID,
C.CompanyName,
C.ContactName,
CONVERT(VARCHAR,O.ShippedDate, 107) NewShippedDate,
DATEDIFF(YEAR,O.ShippedDate,'2009-01-01') CalculatedYears
FROM
Orders O
INNER JOIN
Customers C
ON O.CustomerID = C.CustomerID
WHERE O.ShippedDate >= '1994-01-01'
ORDER BY O.OrderID;

<span style="color: #008000;">List&nbsp;all&nbsp;the&nbsp;orders&nbsp;where&nbsp;the&nbsp;order&nbsp;date&nbsp;is&nbsp;between&nbsp;1st&nbsp;of&nbsp;Jan&nbsp;and&nbsp;30th&nbsp;of&nbsp;Mar&nbsp;1992,&nbsp;</span> 

<span style="color: #008000;">and&nbsp;the&nbsp;cost&nbsp;of&nbsp;the&nbsp;order&nbsp;is&nbsp;greater&nbsp;than&nbsp;or&nbsp;equal&nbsp;to&nbsp;$1500.00.&nbsp;</span> 

<span style="color: #008000;">Display&nbsp;the&nbsp;order&nbsp;id,&nbsp;order&nbsp;date,&nbsp;and&nbsp;a&nbsp;new&nbsp;shipped&nbsp;date&nbsp;calculated&nbsp;by&nbsp;adding&nbsp;10&nbsp;days&nbsp;to&nbsp;the&nbsp;shipped&nbsp;date&nbsp;from&nbsp;the&nbsp;Orders&nbsp;table,&nbsp;</span> 

<span style="color: #008000;">the&nbsp;product&nbsp;name&nbsp;from&nbsp;the&nbsp;Products&nbsp;table,&nbsp;the&nbsp;company&nbsp;name&nbsp;from&nbsp;the&nbsp;Customer&nbsp;table,&nbsp;and&nbsp;the&nbsp;cost&nbsp;of&nbsp;the&nbsp;order.&nbsp;</span> 

<span style="color: #008000;">Format&nbsp;the&nbsp;date&nbsp;order&nbsp;date&nbsp;and&nbsp;the&nbsp;shipped&nbsp;date&nbsp;as&nbsp;MON&nbsp;DD&nbsp;YYYY.</span>

<span style="color: #008000;">Use&nbsp;the&nbsp;formula&nbsp;(OrderDetails.Quantity&nbsp;*&nbsp;Products.UnitPrice)&nbsp;to&nbsp;calculate&nbsp;the&nbsp;cost&nbsp;of&nbsp;the&nbsp;order.&nbsp;</span> 

<span style="color: #008000;">Order&nbsp;the&nbsp;result&nbsp;set&nbsp;by&nbsp;order&nbsp;id.</span>

In [ ]:
SELECT
O.OrderID,
O.OrderDate,
DATEADD(DAY, 10, O.ShippedDate) AS NewShippedDate,
P.ProductName,
C.CompanyName,
(OD.Quantity * P.UnitPrice) OrderCost
FROM
Orders O
INNER JOIN OrderDetails OD
ON O.OrderID = OD.OrderID
INNER JOIN Products P
ON OD.ProductID = P.ProductID
INNER JOIN Customers C
ON  O.CustomerID = C.CustomerID 
WHERE O.OrderDate BETWEEN '1992-01-01' AND '1992-03-30' AND (OD.Quantity * P.UnitPrice) >= 1500
ORDER BY O.OrderID;

<span style="color: #008000;">List&nbsp;all&nbsp;the&nbsp;orders&nbsp;with&nbsp;a&nbsp;shipping&nbsp;city&nbsp;of&nbsp;Vancouver.</span>

<span style="color: #008000;">Display&nbsp;the&nbsp;order&nbsp;from&nbsp;the&nbsp;Orders&nbsp;table,&nbsp;and&nbsp;the&nbsp;unit&nbsp;price&nbsp;and&nbsp;quantity&nbsp;from&nbsp;the&nbsp;OrderDetails&nbsp;table.</span>

<span style="color: #008000;">Order&nbsp;the&nbsp;result&nbsp;set&nbsp;by&nbsp;the&nbsp;order&nbsp;id.</span>

In [ ]:
SELECT
O.OrderID,
OD.UnitPrice,
OD.Quantity
FROM Orders O
INNER JOIN OrderDetails OD
ON O.OrderID = OD.OrderID
WHERE O.ShipCity = 'Vancouver'
ORDER BY O.OrderID;

<span style="color: #008000;">List&nbsp;all&nbsp;the&nbsp;orders&nbsp;that&nbsp;have&nbsp;not&nbsp;been&nbsp;shipped&nbsp;(shipped&nbsp;date&nbsp;is&nbsp;null).&nbsp;Display&nbsp;the&nbsp;customer&nbsp;id,&nbsp;</span> 

<span style="color: #008000;">company&nbsp;name&nbsp;and&nbsp;fax&nbsp;number&nbsp;from&nbsp;the&nbsp;Customers&nbsp;table,&nbsp;and&nbsp;the&nbsp;order&nbsp;id&nbsp;and&nbsp;order&nbsp;date&nbsp;from&nbsp;the&nbsp;Orders&nbsp;table.</span>

<span style="color: #008000;">Order&nbsp;the&nbsp;result&nbsp;set&nbsp;by&nbsp;the&nbsp;customer&nbsp;id&nbsp;and&nbsp;order&nbsp;date.</span>

In [ ]:
SELECT
C.CustomerID,
C.CompanyName,
C.Fax,
O.OrderID,
O.OrderDate
FROM Customers C
INNER JOIN Orders O
ON C.CustomerID = O.CustomerID
WHERE O.ShippedDate IS NULL
ORDER BY C.CustomerID, O.OrderDate;

<span style="color: #008000;">List&nbsp;the&nbsp;products&nbsp;which&nbsp;contain&nbsp;choc&nbsp;or&nbsp;tofu&nbsp;in&nbsp;their&nbsp;name.</span>

<span style="color: #008000;">Display&nbsp;the&nbsp;product&nbsp;id,&nbsp;product&nbsp;name,&nbsp;quantity&nbsp;per&nbsp;unit&nbsp;and&nbsp;unit&nbsp;price&nbsp;from&nbsp;the&nbsp;Products&nbsp;table.</span>

<span style="color: #008000;">Order&nbsp;the&nbsp;result&nbsp;set&nbsp;by&nbsp;product&nbsp;id.</span>

In [ ]:
SELECT
P.ProductID,
P.ProductName,
P.QuantityPerUnit,
P.UnitPrice
FROM Products AS P
WHERE P.ProductName LIKE '%choc%' OR P.ProductName LIKE '%tofu%'
ORDER BY P.ProductID;

<span style="color: #008000;">List&nbsp;the&nbsp;number&nbsp;of&nbsp;products&nbsp;and&nbsp;their&nbsp;names&nbsp;beginning&nbsp;with&nbsp;each&nbsp;letter&nbsp;of&nbsp;the&nbsp;alphabet.&nbsp;</span> 

<span style="color: #008000;">Only&nbsp;display&nbsp;the&nbsp;letter&nbsp;and&nbsp;count&nbsp;if&nbsp;there&nbsp;are&nbsp;at&nbsp;least&nbsp;three&nbsp;product&nbsp;names&nbsp;begin&nbsp;with&nbsp;the&nbsp;letter.</span>

In [ ]:
SELECT
SUBSTRING (ProductName,1,1) AS FirstName,
COUNT(ProductName) AS Total
FROM Products 
GROUP BY SUBSTRING (ProductName,1,1)
HAVING COUNT(ProductName) >= 3;

<span style="color: #008000;"><b>INSERT,&nbsp;UPDATE,&nbsp;DELETE&nbsp;and&nbsp;VIEWS</b></span>

<span style="color: #008000;">Create&nbsp;a&nbsp;view&nbsp;called&nbsp;vw_supplier_items&nbsp;listing&nbsp;the&nbsp;distinct&nbsp;suppliers&nbsp;and&nbsp;the&nbsp;items&nbsp;they&nbsp;have&nbsp;shipped.&nbsp;</span> 

<span style="color: #008000;">Display&nbsp;the&nbsp;supplier&nbsp;id&nbsp;and&nbsp;name&nbsp;from&nbsp;the&nbsp;Suppliers&nbsp;table,&nbsp;and&nbsp;the&nbsp;product&nbsp;id&nbsp;and&nbsp;product&nbsp;name&nbsp;from&nbsp;the&nbsp;Products&nbsp;table.</span>

In [ ]:
CREATE VIEW vw_supplier_items
AS
SELECT DISTINCT
S.SupplierID,
S.Name,
P.ProductID,
P.ProductName
FROM Suppliers S
INNER JOIN Products P
ON S.SupplierID = P.SupplierID;

In [ ]:
SELECT *
FROM vw_supplier_items
ORDER BY Name, ProductID;

<span style="color: #008000;">Create&nbsp;a&nbsp;view&nbsp;called&nbsp;vw_employee_info&nbsp;to&nbsp;list&nbsp;all&nbsp;the&nbsp;employees&nbsp;in&nbsp;the&nbsp;Employee&nbsp;table.&nbsp;</span> 

<span style="color: #008000;">Display&nbsp;the&nbsp;employee&nbsp;id,&nbsp;last&nbsp;name,&nbsp;first&nbsp;name,&nbsp;and&nbsp;birth&nbsp;date.&nbsp;</span> 

<span style="color: #008000;">Format&nbsp;the&nbsp;name&nbsp;as&nbsp;first&nbsp;name&nbsp;followed&nbsp;by&nbsp;a&nbsp;space&nbsp;followed&nbsp;by&nbsp;the&nbsp;last&nbsp;name.</span>

In [ ]:
CREATE VIEW vw_employee_info
AS
SELECT
EmployeeID,
CONCAT(FirstName, ' ', LastName) AS Name,
BirthDate
FROM Employees;

In [ ]:
SELECT *
FROM vw_employee_info
WHERE EmployeeID IN ( 3, 6, 9 );

<span style="color: #008000;">Using&nbsp;the&nbsp;UPDATE&nbsp;statement,&nbsp;change&nbsp;the&nbsp;fax&nbsp;value&nbsp;to&nbsp;Unknown&nbsp;for&nbsp;all&nbsp;rows&nbsp;in&nbsp;the&nbsp;Customers&nbsp;table</span>

<span style="color: #008000;">where&nbsp;the&nbsp;current&nbsp;fax&nbsp;value&nbsp;is&nbsp;null&nbsp;(22&nbsp;rows&nbsp;affected).</span>

In [ ]:
SELECT * FROM Customers WHERE Fax IS NULL

In [ ]:
--BEGIN TRAN
---UPDATE Customers SET Fax = 'Unknown' WHERE Fax IS NULL
--ROLLBACK

<span style="color: #008000;">Create&nbsp;a&nbsp;view&nbsp;called&nbsp;vw_order_cost&nbsp;to&nbsp;list&nbsp;the&nbsp;cost&nbsp;of&nbsp;orders.&nbsp;</span> 

<span style="color: #008000;">Display&nbsp;the&nbsp;order&nbsp;id&nbsp;and&nbsp;order_date&nbsp;from&nbsp;the&nbsp;Orders&nbsp;table,&nbsp;the&nbsp;product&nbsp;id&nbsp;from&nbsp;the&nbsp;Products&nbsp;table,&nbsp;</span> 

<span style="color: #008000;">the&nbsp;company&nbsp;name&nbsp;from&nbsp;the&nbsp;Customers&nbsp;table,&nbsp;and&nbsp;the&nbsp;order&nbsp;cost.&nbsp;</span> 

<span style="color: #008000;">To&nbsp;calculate&nbsp;the&nbsp;cost&nbsp;of&nbsp;the&nbsp;orders,&nbsp;use&nbsp;the&nbsp;formula:&nbsp;(OrderDetails.Quantity&nbsp;*&nbsp;OrderDetails.UnitPrice).</span>

In [ ]:
CREATE VIEW vw_order_cost
AS
SELECT
O.OrderID,
O.OrderDate,
P.ProductID,
C.CompanyName,
(OD.Quantity * P.UnitPrice) OrderCost
FROM
Orders O
INNER JOIN OrderDetails OD
ON O.OrderID = OD.OrderID
INNER JOIN Products P
ON OD.ProductID = P.ProductID
INNER JOIN Customers C
ON  O.CustomerID = C.CustomerID;

In [ ]:
SELECT *
FROM vw_order_cost
WHERE orderID BETWEEN 10100 AND 10200
ORDER BY ProductID;

<span style="color: #008000;">Using&nbsp;the&nbsp;INSERT&nbsp;statement,&nbsp;add&nbsp;a&nbsp;row&nbsp;to&nbsp;the&nbsp;Suppliers&nbsp;table&nbsp;with&nbsp;a&nbsp;supplier&nbsp;id&nbsp;of&nbsp;16&nbsp;and&nbsp;a&nbsp;name&nbsp;of&nbsp;'Supplier&nbsp;P'.</span>

In [ ]:
SELECT * FROM Suppliers;

In [ ]:
--BEGIN TRAN
--INSERT INTO Suppliers (SupplierID, Name) VALUES (16, 'Supplier P')
--ROLLBACK

<span style="color: #008000;">Using&nbsp;the&nbsp;UPDATE&nbsp;statement,&nbsp;increase&nbsp;the&nbsp;unit&nbsp;price&nbsp;in&nbsp;the&nbsp;Products&nbsp;table&nbsp;by&nbsp;15%&nbsp;for&nbsp;rows&nbsp;with&nbsp;a&nbsp;current&nbsp;unit&nbsp;price&nbsp;less&nbsp;than&nbsp;$5.00</span>

In [ ]:
SELECT * FROM Products WHERE UnitPrice < 5;

In [ ]:
--BEGIN TRAN
--UPDATE Products SET UnitPrice = UnitPrice * 1.5 WHERE UnitPrice < 5
--ROLLBACK

<span style="color: #008000;">Create&nbsp;a&nbsp;view&nbsp;called&nbsp;vw_orders&nbsp;to&nbsp;list&nbsp;orders.&nbsp;</span> 

<span style="color: #008000;">Display&nbsp;the&nbsp;order&nbsp;id&nbsp;and&nbsp;shipped&nbsp;date&nbsp;from&nbsp;the&nbsp;Orders&nbsp;table,&nbsp;and&nbsp;the&nbsp;customer&nbsp;id,&nbsp;company&nbsp;name,&nbsp;city,&nbsp;and&nbsp;country&nbsp;from&nbsp;the&nbsp;Customers&nbsp;table.</span>

In [ ]:
CREATE VIEW vw_orders 
AS
SELECT
O.OrderID,
C.CustomerID,
C.CompanyName,
C.City,
C.Country,
O.ShippedDate
FROM Orders O
INNER JOIN Customers C
ON O.CustomerID = C.CustomerID;

In [ ]:
SELECT *
FROM vw_orders
WHERE ShippedDate BETWEEN '1993-01-01' AND '1993-01-31'
ORDER BY CompanyName, Country;